@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>TransferDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/home/transfer" method="post">
            <div class="form-group">
                <label for="FromAccount" class="control-label"></label>
                <input type="text" name="FromAccount" class="form-control" />
            </div>
            <div class="form-group">
                <label for="ToAccount" class="control-label"></label>
                <input type="text" name="ToAccount" class="form-control" />
            </div>
            <div class="form-group">
                <label for="TransferAmount" class="control-label"></label>
                <input type="text" name="TransferAmount" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
